// the _ in the file name states that this is not the main file it is a partial file that we want to include in another file

// Colors
$primary: #fe5f1e;
$primary-hover: #b23301;
$secondary: #f8f8f8;
$pure: #fff;
$dark: #232323;
$gray: #ccc;

// Transition
$smooth: all .3s ease-in-out;